<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.opibuilder.widget">
      <widget
            editpart_class="org.csstudio.belle2.daq.dqm.DQMCanvasEditPart"
            icon="icons/sample.gif"
            model_class="org.csstudio.belle2.daq.dqm.DQMCanvasModel"
            name="DQMCanvas"
            typeId="DQMCanvas">
      </widget>
      <widget
            editpart_class="org.csstudio.belle2.daq.hvcontrol.HVDBConfigPanelEditPart"
            icon="icons/sample.gif"
            model_class="org.csstudio.belle2.daq.hvcontrol.HVDBConfigPanelModel"
            name="HVDBConfigPanel"
            typeId="HVDBConfigPanel">
      </widget>
      <widget
            editpart_class="org.csstudio.belle2.daq.nsm.log.NSMLogViewEditPart"
            icon="icons/sample.gif"
            model_class="org.csstudio.belle2.daq.nsm.log.NSMLogViewModel"
            name="NSMLogView"
            typeId="NSMLogView">
      </widget>
   </extension>
   <extension
         point="org.csstudio.utility.pvmanager.datasource">
      <datasource
            datasource="org.csstudio.belle2.daq.dqm.DQMViewDataSource"
            name="DQM"
            prefix="dqm">
      </datasource>
      <datasource
            datasource="org.csstudio.belle2.daq.nsm.NSMDataSource"
            name="NSM"
            prefix="nsm">
      </datasource>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.belle2.daq.nsm.NSMPreferencesPage"
            id="org.csstudio.belle2.daq.nsm"
            name="NSM">
      </page>
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.belle2.daq.dqm.DQMPreferencesPage"
            id="org.csstudio.belle2.daq.dqm"
            name="DQM">
      </page>
   </extension>


</plugin>
