/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014/06/03, 12:13:26
    Author     : tkonno
*/

.hvstate-off .text {
    -fx-font-size:13px;
    -fx-font-weight:bold;
    -fx-alignment: CENTER;
    -fx-fill:black;
}

.hvstate-peak .text {
    -fx-font-size:13px;
    -fx-font-weight:bold;
    -fx-alignment: CENTER;
    -fx-fill:black;
}

.hvstate-standby .text {
    -fx-font-size:13px;
    -fx-font-weight:bold;
    -fx-alignment: CENTER;
    -fx-fill:black;
}

.hvstate-shoulder .text {
    -fx-font-size:13px;
    -fx-font-weight:bold;
    -fx-alignment: CENTER;
    -fx-fill:black;
}

.hvstate-transition .text {
    -fx-font-size:11px;
    -fx-font-weight:bold;
    -fx-alignment: CENTER;
    -fx-fill:black;
}

.hvstate-error .text {
    -fx-font-size:13px;
    -fx-font-weight:bold;
    -fx-alignment: CENTER;
    -fx-fill:black;
}

.hvstate-peak {
    -fx-background-color: cyan; 
    -fx-alignment: CENTER;
    -fx-padding: 2px;
    -fx-border-color: -fx-table-cell-border-color;
    -fx-border-width: 2px;
}

.hvstate-standby {
    -fx-background-color: yellow; 
    -fx-alignment: CENTER;
    -fx-padding: 2px;
    -fx-border-color: -fx-table-cell-border-color;
    -fx-border-width: 2px;
}

.hvstate-shoulder {
    -fx-background-color: rgb(0,176,80); 
    -fx-alignment: CENTER;
    -fx-padding: 2px;
    -fx-border-color: -fx-table-cell-border-color;
    -fx-border-width: 2px;
}

.hvstate-transition {
    -fx-background-color: orange; 
    -fx-alignment: CENTER;
    -fx-padding: 2px;
    -fx-border-color: -fx-table-cell-border-color;
    -fx-border-width: 2px;
}

.hvstate-error {
    -fx-background-color: rgb(204,193,218); 
    -fx-alignment: CENTER;
    -fx-padding: 2px;
    -fx-border-color: -fx-table-cell-border-color;
    -fx-border-width: 2px;
}

.hvstate-off {
    -fx-background-color: red;
    -fx-alignment: CENTER;
    -fx-padding: 2px;
    -fx-border-color: -fx-table-cell-border-color;
    -fx-border-width: 2px;
}

