<?xml version="1.0" encoding="utf-8"?>
<Target>isSignal</Target>
<SignalID>1</SignalID>
<SignalFraction>0.2</SignalFraction>
<Variables>
  <Variable>
    <Name>eid</Name>
  </Variable>
  <Variable>
    <Name>p</Name>
  </Variable>
</Variables>
<Spectators>
  <Spectator>
    <Name>muid</Name>
  </Spectator>
  <Spectator>
    <Name>M</Name>
  </Spectator>
</Spectators>
<SamplingRates>
  <SamplingRate>
    <ID>0</ID>
    <Rate>2</Rate>
  </SamplingRate>
  <SamplingRate>
    <ID>1</ID>
    <Rate>1</Rate>
  </SamplingRate>
</SamplingRates>
<Classes>
  <Class>
    <ID>0</ID>
    <Count>200</Count>
  </Class>
  <Class>
    <ID>1</ID>
    <Count>100</Count>
  </Class>
</Classes>
<Methods>
  <Method>
    <MethodName>MockPlugin</MethodName>
    <MethodType>Plugin</MethodType>
    <MethodConfig>Config</MethodConfig>
    <Samplefile>TMVA_1.root</Samplefile>
    <Weightfile>weights/TMVA_1_MockPlugin.weights.xml</Weightfile>
  </Method>
</Methods>
