.rst-content .toggle {
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
}

.rst-content .toggle .admonition-title {
    display: block;
    clear: both;
    cursor: pointer;
}

/* todo: this doesn't cover the case where the last element is not a p */
.rst-content .toggle p:last-child {
    margin-bottom: 0;
}

.rst-content .toggle .admonition-title {
    display: block;
    clear: both;
    margin-bottom: -12px;
}

.rst-content .toggle .admonition-title + * {
    margin-top: 24px;
}

.rst-content .toggle .admonition-title:after {
    content: " ▼";
}

.rst-content .toggle .admonition-title.open:after {
    content: " ▶";
}

.rst-content .hint .admonition-title{
    background: #43d5b5;
}

.rst-content .hint {
    background: #dbfaf4;
}

.rst-content .hint .admonition-title:before {
    content: "  ";
}

.rst-content .solution .admonition-title:before {
    content: "  ";
}

.rst-content .solution .admonition-title{
    background: #1abc9c
}

.rst-content .solution{
    background: #dbfaf4;
}

.rst-content .exercise .admonition-title{
    background: #F085B2;
}

.rst-content .exercise {
    background: #ffecf3;
}

.rst-content .key-points .admonition-title{
    background: #9c9ff4;
}

.rst-content .key-points {
    background: #f7f0ff;
}

.rst-content .overview .admonition-title, .rst-content .overview .sidebar-title {
    background: #9c9ff4;
    color: white;
}

.rst-content .overview {
    background: #f7f0ff;
}

.rst-content .overview p, .rst-content .overview ul, .rst-content .overview blockquote {
    margin-bottom: 5px;
}


.rst-content .overview .admonition-title:before, .rst-content .overview .sidebar-title:before {
    content: "  ";
    font-family: FontAwesome;
}


.rst-content .exercise .admonition-title:before {
    content: "  ";
}

.rst-content .key-points .admonition-title:before {
    content: " ";
}

.stacked {
    margin-bottom: 0px;
}

.rst-content .stacked {
    margin-bottom: 0px;
}

.rst-content .stacked .admonition {
    margin-bottom: 0px;
}
