<?xml version="1.0" encoding="utf-8"?>
<Setup>
  <Variables>
    <Variable>
      <Name>eid</Name>
    </Variable>
    <Variable>
      <Name>p</Name>
    </Variable>
  </Variables>
	<Clusters>
		<Cluster>
			<ID>0</ID>
			<Count>91993</Count>
			<Fraction>0.9411530001534605</Fraction>
		</Cluster>
		<Cluster>
			<ID>1</ID>
			<Count>5752</Count>
			<Fraction>0.05884699984653947</Fraction>
		</Cluster>
	</Clusters>
	<Trainings>
		<Training>
			<Methods>
				<Method>
					<SignalID>1</SignalID>
					<BackgroundID>0</BackgroundID>
					<MethodName>BDTGradient</MethodName>
					<MethodType>BDT</MethodType>
					<Weightfile>weights/electron_1_vs_0_BDTGradient.weights.xml</Weightfile>
				</Method>
			</Methods>
		</Training>
	</Trainings>
</Setup>
